altair
numpy
annotated-types
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
dnspython
email_validator
et_xmlfile
gitdb
GitPython
h11
idna
iniconfig
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mslex
narwhals
